.manageTasks{
    margin-top: 20px;
}
.manageTasks > ul{

    display: flex; 
    align-items: center; 
}
.manageTasks li{
    display: inline-flex;
    padding: 16px;
    margin: 0px 1px;

   

    background-color: var(--blue-500);
    transition: 0.2s;
}

.manageTasks *:visited{
    color: var(--gray-200);
}
.manageTasks li:hover {
    background-color: var(--blue-700);
}
.manageTasks a{
    list-style:none ;
    text-decoration: none;}