
.containerNotification{
    display: flex;
    width: 60%;

    margin-top: 32px;
    background: var(--gray-700);
    
    border-radius: 2px;

}
.containerNotification *{
    color: var(--gray-100);
}
span{
    display: block;
    padding: 16px;
    text-align: center;
}
